.. _api_reference:

===============
API Reference
===============

This is the API reference for {{ package_name }}.

.. list-table::
   :header-rows: 1

   * - Module
     - Description
   {% for module, description in modules -%}
   * - :mod:`{{ module }}`
     - {{ description }}
   {% endfor %}

.. toctree::
   :maxdepth: 2
   :hidden:

   {% for module, _ in modules -%}
   generated/{{ module }}
   {% endfor %}

